body {
	margin: 0;
	font-size: 14px;
	font-family: sans-serif;
}

h2 {
	font-weight: 100;
}

.container {
	max-width: 900px;
	margin: auto;
	padding: 15px;
}
.image {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 200px;
}
.image-one {
	position: relative;
	background: url(../img/1.jpg) center no-repeat;
	background-size: cover;
	z-index: 0;
}

.image-one:before {
content: '';
display: block;
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
width: 200px;
height: 200px;
background-color: rgba(0, 0, 0, 0.5);
z-index: -1;
}

.image-two {
	position: relative;
	background: url(../img/2.jpg) center no-repeat;
	background-size: cover;
	z-index: 0;
}
.image-two:before {
content: '';
display: block;
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
width: 200px;
height: 200px;
background-color: rgba(0, 0, 0, 0.5);
z-index: -1;
}

.image-three {
	position: relative;
	background: url(../img/3.jpg) center no-repeat;
	background-size: cover;
	z-index: 0;
}
.image-three:before {
content: '';
display: block;
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
width: 200px;
height: 200px;
background-color: rgba(0, 0, 0, 0.5);
z-index: -1;
}
.image-four {
	position: relative;
	background: url(../img/4.jpg) center no-repeat;
	background-size: cover;
	z-index: 0;
}
.image-four:before {
content: '';
display: block;
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
width: 200px;
height: 200px;
background-color: rgba(0, 0, 0, 0.5);
z-index: -1;
}

.button-one {
	border: none;
	font-weight: 700;
	font-size: 14px;
 color: white;
 padding: .8em 1em calc(.8em + 3px);
 border-radius: 3px;
 background: rgb(64,199,129);
 box-shadow: 0 -3px rgb(53,167,110) inset;
 transition: 0.2s;
}
.button-one:hover {
	border: 1px;
	font-weight: 700;
	font-size: 16px;
 color: yellow;
 padding: .8em 1em calc(.8em + 3px);
 border-radius: 9px;
 background: #1a5133;
 box-shadow: 3 -6px rgb(53,167,110) inset;
}
.button-two {
	display: inline-block;
 color: white;
 padding: .5em 2em;
 border: none;
 border-width: 2px 0;
 border-style: solid none;
 border-color: #FDBE33 #000 #D77206;
 border-radius: 6px;
 background: linear-gradient(#F3AE0F, #E38916) #E38916;
 transition: 0.2s;
}
.button-two:hover {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
/*  box-shadow: 0 0 20px rgba(0, 0, 0, .1);*/
  transition: .5s;
}
